@{
    var selected = ViewData["selected"]?.ToString() ?? "";
}
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/">
                    <div class="brand-logo"><img class="logo" src="/admin/images/logo/logo.png"></div>
                    <h2 class="brand-text mb-0">پنل فروشندگان</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class="nav-item @(selected=="index"?"active":null)">
                <a href="/sellerPanel">
                    <i class="menu-livicon" data-icon="desktop"></i>
                    <span class="menu-title" data-i18n="File Manager">داشبورد</span>
                </a>
            </li>
            
            <li class="nav-item @(selected=="inventories"?"active":null)">
                <a href="/sellerPanel/Inventories">
                    <i class="menu-livicon" data-icon="adjust"></i>
                    <span class="menu-title" data-i18n="File Manager">مدیریت محصولات</span>
                </a>
            </li>
        </ul>
    </div>
</div>