@page
@model Eshop.RazorPage.Pages.Profile.IndexModel
@{
}
  <div class="row mb-5">
                   <partial name="Shared/Profile/_ProfileSideBar"/>
                    <div class="col-lg-9 col-md-8">
                        <div class="row mb-4">
                            <div class="col-lg-6 mb-lg-0 mb-3">
                                <div class="section-title mb-2">
                                    اطلاعات شخصی
                                </div>
                                <section class="shadow-around p-3">
                                    <div class="row">
                                        <div class="col-lg-6 mb-4">
                                            <div class="text-sm text-muted">نام و نام خانوادگی:</div>
                                            <div class="text-dark font-weight-bold">جلال بهرامی راد</div>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <div class="text-sm text-muted">پست الکترونیک:</div>
                                            <div class="text-dark font-weight-bold">example@example.com</div>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <div class="text-sm text-muted">شماره تلفن همراه:</div>
                                            <div class="text-dark font-weight-bold">09104466813</div>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <div class="text-sm text-muted">کد ملی:</div>
                                            <div class="text-dark font-weight-bold">-</div>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <div class="text-sm text-muted">دریافت خبرنامه:</div>
                                            <div class="text-dark font-weight-bold">خیر</div>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <div class="text-sm text-muted">روش بازگشت وجه:</div>
                                            <div class="text-dark font-weight-bold">-</div>
                                        </div>
                                        <div class="col-12">
                                            <div class="text-center">
                                                <a href="#" class="link--with-border-bottom">
                                                    <i class="far fa-edit"></i>
                                                    ویرایش اطلاعات شخصی
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-6 mb-lg-0 mb-3">
                                <div class="section-title mb-2">
                                    لیست آخرین علاقه‌مندی‌ها
                                </div>
                                <section class="shadow-around p-3">
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <div class="product-list-section">
                                                <div class="product-thumbnail">
                                                    <a href="#">
                                                        <img src="./assets/images/product-list/01.jpg"
                                                            alt="product title">
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-title">
                                                        <a href="#">گوشی موبایل شیائومی مدل Redmi Note 8T M1908C3XG دو
                                                            سیم‌ کارت ظرفیت 64 گیگابایت</a>
                                                    </div>
                                                    <div class="text-danger">
                                                        ۶,۷۹۰,۰۰۰
                                                        <span class="text-sm">تومان</span>
                                                    </div>
                                                    <button class="remove-item">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-4">
                                            <div class="product-list-section">
                                                <div class="product-thumbnail">
                                                    <a href="#">
                                                        <img src="./assets/images/product-list/02.jpg"
                                                            alt="product title">
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-title">
                                                        <a href="#">لپ تاپ 15 اینچی لنوو مدل Ideapad L340-FH</a>
                                                    </div>
                                                    <div class="text-danger">
                                                        ناموجود
                                                    </div>
                                                    <button class="remove-item">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-4">
                                            <div class="product-list-section">
                                                <div class="product-thumbnail">
                                                    <a href="#">
                                                        <img src="./assets/images/product-list/03.jpg"
                                                            alt="product title">
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-title">
                                                        <a href="#">گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو
                                                            سیم کارت ظرفیت 128گیگابایت</a>
                                                    </div>
                                                    <div class="text-danger">
                                                        ناموجود
                                                    </div>
                                                    <button class="remove-item">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="text-center">
                                                <a href="#" class="link--with-border-bottom">
                                                    <i class="far fa-edit"></i>
                                                    مشاهده و ویرایش لیست مورد علاقه
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="section-title mb-2">
                                    آخرین سفارش‌ها
                                </div>
                                <section class="table--order shadow-around">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>شماره سفارش</th>
                                                    <th>تاریخ ثبت سفارش</th>
                                                    <th>مبلغ قابل پرداخت</th>
                                                    <th>مبلغ کل</th>
                                                    <th>عملیات پرداخت</th>
                                                    <th>عملیات پرداخت</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>۱</td>
                                                    <td class="order-code">DKC-149404537</td>
                                                    <td>۱۴ آذر ۱۳۹۹</td>
                                                    <td>۰</td>
                                                    <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                                                    <td>لغو شده</td>
                                                    <td class="order-detail-link">
                                                        <a href="#">
                                                            <i class="far fa-chevron-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>۱</td>
                                                    <td class="order-code">DKC-149404537</td>
                                                    <td>۱۴ آذر ۱۳۹۹</td>
                                                    <td>۰</td>
                                                    <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                                                    <td>لغو شده</td>
                                                    <td class="order-detail-link">
                                                        <a href="#">
                                                            <i class="far fa-chevron-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>۱</td>
                                                    <td class="order-code">DKC-149404537</td>
                                                    <td>۱۴ آذر ۱۳۹۹</td>
                                                    <td>۰</td>
                                                    <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                                                    <td>لغو شده</td>
                                                    <td class="order-detail-link">
                                                        <a href="#">
                                                            <i class="far fa-chevron-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>۱</td>
                                                    <td class="order-code">DKC-149404537</td>
                                                    <td>۱۴ آذر ۱۳۹۹</td>
                                                    <td>۰</td>
                                                    <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                                                    <td>لغو شده</td>
                                                    <td class="order-detail-link">
                                                        <a href="#">
                                                            <i class="far fa-chevron-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>۱</td>
                                                    <td class="order-code">DKC-149404537</td>
                                                    <td>۱۴ آذر ۱۳۹۹</td>
                                                    <td>۰</td>
                                                    <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                                                    <td>لغو شده</td>
                                                    <td class="order-detail-link">
                                                        <a href="#">
                                                            <i class="far fa-chevron-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>۱</td>
                                                    <td class="order-code">DKC-149404537</td>
                                                    <td>۱۴ آذر ۱۳۹۹</td>
                                                    <td>۰</td>
                                                    <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                                                    <td>لغو شده</td>
                                                    <td class="order-detail-link">
                                                        <a href="#">
                                                            <i class="far fa-chevron-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>۱</td>
                                                    <td class="order-code">DKC-149404537</td>
                                                    <td>۱۴ آذر ۱۳۹۹</td>
                                                    <td>۰</td>
                                                    <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                                                    <td>لغو شده</td>
                                                    <td class="order-detail-link">
                                                        <a href="#">
                                                            <i class="far fa-chevron-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-center py-3">
                                        <a href="#" class="d-flex align-items-center justify-content-center text-dark">
                                            مشاهده لیست سفارش ها
                                            <i class="fal fa-arrow-to-left mr-1"></i>
                                        </a>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
                        <div class="banner">
                            <a href="#">
                                <img src="./assets/images/banner/banner-sm-01.jpg" alt="banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
                        <div class="banner">
                            <a href="#">
                                <img src="./assets/images/banner/banner-sm-02.jpg" alt="banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
                        <div class="banner">
                            <a href="#">
                                <img src="./assets/images/banner/banner-sm-03.jpg" alt="banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
                        <div class="banner">
                            <a href="#">
                                <img src="./assets/images/banner/banner-sm-04.jpg" alt="banner">
                            </a>
                        </div>
                    </div>
                </div>