@page
@model Eshop.RazorPage.Pages.Auth.LoginModel
@{
    Layout = "Shared/Layouts/_AuthLayout";
}
<div class="auth-form shadow-around">
    <div class="site-logo">
        <a href="#">
            <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        ورود به سایت
    </div>
    <form action="#">
        <div class="form-element-row">
            <label for="phone-number" class="label-element">شماره موبایل</label>
            <div class="form-element-with-icon">
                <input type="text" class="input-element" id="phone-number">
                <i class="fad fa-mobile-alt"></i>
            </div>
        </div>
        <div class="form-element-row">
            <label for="password" class="label-element">
                <span class="d-flex justify-content-between">
                    <span>کلمه عبور</span>
                    <a href="#" class="link--with-border-bottom">رمز عبور خود را فراموش کرده‌ام</a>
                </span>
            </label>
            <div class="form-element-with-icon">
                <input type="text" class="input-element" id="password">
                <i class="fad fa-key-skeleton"></i>
            </div>
        </div>
        <div class="form-element-row">
            <label class="container-checkbox">
                مرا به خاطر داشته باش
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-element-row text-left">
            <button class="btn-element btn-info-element">
                <i class="fad fa-sign-in-alt"></i>
                ورود به همتا
            </button>
        </div>

    </form>
    <div class="auth-form-footer">
        <span>کاربر جدید هستید؟</span>
        <a href="#" class="link--with-border-bottom">ثبت نام در همتا</a>
    </div>
</div>