@page
@model Eshop.RazorPage.Pages.Auth.LoginModel
@{
    Layout = "Shared/Layouts/_AuthLayout";
    ViewData["title"] = "ورود به سایت";
}
<div class="auth-form shadow-around">
    <div class="site-logo">
        <a href="/">
            <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        @ViewData["title"]
    </div>
    <form method="post">
        @Html.HiddenFor(f=>f.RedirectTo)

        @Html.EditorFor(m=>m.PhoneNumber)
        @Html.EditorFor(m=>m.Password)
        @*<label for="phone-number" class="label-element" asp-for="Password"></label>
            <div class="form-element-with-icon">
            <input type="password" class="input-element" asp-for="Password" id="password">
            <i class="fad fa-key-skeleton"></i>
            </div>
            <span asp-validation-for="Password"></span>*@

        <div class="form-element-row text-left">
            <button class="btn-element btn-info-element">
                <i class="fad fa-sign-in-alt"></i>
                ورود به سایت
            </button>
        </div>

    </form>
    <div class="auth-form-footer">
        <span>کاربر جدید هستید؟</span>
        <a asp-page="Register" class="link--with-border-bottom">ثبت نام در سایت</a>
    </div>
</div>