.field-validation-error {
    color: red
}
.input-validation-error {
    border-color: red !important;
}
.delete-address {
    position: absolute;
    bottom: 15px
}
.delete-address button {
    color: red;
    border-color: red
}