@page
@model Eshop.RazorPage.Pages.Admin.Roles.IndexModel
@{
    ViewData["Title"] = "مدیرت نقش ها";
    ViewData["selected"] = "roles";
}
<h3>@ViewData["title"]</h3>
<a asp-page="Add" class="btn btn-success mb-2">افزودن نقش</a>
<div class="table-responsive card card-body p-0">
    <table class="table table-bordered mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>عنوان</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-page="Edit" asp-route-id="@item.Id">ویرایش</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
