@model string
<div class="form-element-row">
    <label class="label-element" asp-for="@Model"></label>
    <div class="form-element-with-icon">
        <input type="password" class="input-element" asp-for="@Model">
        <i class="fad fa-key-skeleton"></i>
    </div>
    <span asp-validation-for="@Model"></span>
</div>