<div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar">
    <div class="sidebar-widget">
        <div class="banner mb-3">
            <a href="#">
                <img src="/assets/images/banner/banner-profile-sidebar.jpg"
                     class="box-shaow-unset has-border" alt="...">
            </a>
        </div>
        <div class="profile-sidebar shadow-around">
            <div class="d-flex align-items-center">
                <div class="profile-avatar">
                    <img src="/assets/images/avatar/avatar.png" alt="avatar">
                </div>
                <div class="profile-info">
                    <div class="d-block">
                        <h6><strong>جلال بهرامی راد</strong></h6>
                    </div>
                    <div class="d-block">
                        <strong class="text-muted">09104466813</strong>
                    </div>
                </div>
            </div>
            <div class="user-options">
                <ul>
                    <li>
                        <a href="#">
                            <span>کیف پول</span>
                            <span>
                                2,500,000 <span class="text-info font-weight-bold">تومان</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>همتا کلاب</span>
                            <span>0 <span class="text-info font-weight-bold">امتیاز</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-menu">
                <ul>
                    <li>
                        <a href="/profile/edit">
                            <i class="far fa-user-cog"></i>
                            ویرایش حساب
                        </a>
                    </li>
                    <li>
                        <a href="/profile/ChangePassword">
                            <i class="far fa-user-cog"></i>
                            تغییر کلمه عبور
                        </a>
                    </li>
                    <li>
                        <a href="/profile/orders">
                            <i class="far fa-clipboard-list-check"></i>
                            سفارش های من
                        </a>
                    </li>
                    <li>
                        <a href="/profile/addresses">
                            <i class="far fa-map-marked"></i>
                            نشانی ها
                        </a>
                    </li>

                    <li>
                        <a href="/auth/logout">
                            <i class="far fa-sign-in-alt"></i>
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>