<footer class="main-footer">
            <div class="back-to-top">
                <div class="back-btn">
                    <i class="far fa-chevron-up icon"></i>
                    <span>برگشت به بالا</span>
                </div>
            </div>
            <div class="container">
                <div class="services row mb-5">
                    <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                        <div class="service-item">
                            <img src="./assets/images/services/delivery-person.png" alt="">
                            <div class="service-item-body">
                                <h6>تحویل سریع و رایگان</h6>
                                <p>تحویل رایگان کالا برای کلیه سفارشات بیش از 500 هزار تومان</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                        <div class="service-item">
                            <img src="./assets/images/services/recieve.png" alt="">
                            <div class="service-item-body">
                                <h6>۷ روز ضمانت بازگشت</h6>
                                <p>در صورت نارضایتی به هر دلیلی می توانید محصول را بازگردانید</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                        <div class="service-item">
                            <img src="./assets/images/services/headset.png" alt="">
                            <div class="service-item-body">
                                <h6>پشتیبانی ۲۴ ساعته</h6>
                                <p>در صورت وجود هرگونه سوال یا ابهامی، با ما در تماس باشید</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                        <div class="service-item">
                            <img src="./assets/images/services/debit-card.png" alt="">
                            <div class="service-item-body">
                                <h6>پرداخت آنلاین ایمن</h6>
                                <p>محصولات مدنظر خود را با خیال آسوده به صورت آنلاین خریداری کنید</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget-links">
                            <h2 class="widget-title">دسته بندی کالاها</h2>
                            <ul class="widget-list">
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">کالای دیجیتال</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">آرایشی،بهداشتی و سلامت</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">خودرو،ابزار و اداری</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">مد و پوشاک</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">خانه و آشپزخانه</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">کتاب،لوازم تحریر و هنر</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">اسباب بازی،کودک و نوزاد</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">ورزش و سفر</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">خوردنی و آشامیدنی</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget-links">
                            <h2 class="widget-title">راهنمای خرید از همتا</h2>
                            <ul class="widget-list">
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">نحوه ثبت سفارش</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">رویه ارسال سفارش</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">شیوه‌های پرداخت</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-links">
                            <h2 class="widget-title">خدمات مشتریان</h2>
                            <ul class="widget-list">
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">پاسخ به پرسش‌های متداول</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">رویه‌های بازگرداندن کالا</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">شرایط استفاده</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">حریم خصوصی</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">گزارش باگ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget widget-newsletter">
                            <h2 class="widget-title">خبرنامه:</h2>
                            <div class="newsletter">
                                <form action="#" class="newsletterform">
                                    <div class="form-group">
                                        <input type="email" placeholder="آدرس ایمیل خود را وارد نمایید">
                                        <button type="submit">ارسال</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">
                                همتا را در شبکه‌های اجتماعی دنبال کنید:
                            </h2>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="telegram"><i class="fab fa-telegram-plane"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">دانلود اپلیکیشن</h2>
                            <div class="d-flex flex-wrap">
                                <div class="ml-2 mb-2">
                                    <a class="btn-market" href="#">
                                        <span class="d-flex align-items-center justify-content-between">
                                            <span>
                                                <span class="btn-market-subtitle">دانلود از</span>
                                                <span class="btn-market-title">اپ استور</span>
                                            </span>
                                            <i class="fab fa-apple"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="mb-2">
                                    <a class="btn-market" href="#">
                                        <span class="d-flex align-items-center justify-content-between">
                                            <span>
                                                <span class="btn-market-subtitle">دانلود از</span>
                                                <span class="btn-market-title">گوگل پلی</span>
                                            </span>
                                            <i class="fab fa-google-play"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="logo-area">
                            <a href="#">
                                <img src="./assets/images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="widget widget-links mb-2">
                            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                                <li class="widget-list-item ml-4">
                                    <a href="#" class="widget-list-link">درباره همتا</a>
                                </li>
                                <li class="widget-list-item ml-4">
                                    <a href="#" class="widget-list-link">فروش در همتا</a>
                                </li>
                                <li class="widget-list-item ml-4">
                                    <a href="#" class="widget-list-link">فرصت های شغلی</a>
                                </li>
                                <li class="widget-list-item ml-4">
                                    <a href="#" class="widget-list-link">تماس با همتا</a>
                                </li>
                                <li class="widget-list-item ml-4">
                                    <a href="#" class="widget-list-link">حریم خصوصی</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12">
                        <div class="copy-right" dir="ltr">
                            <p>© All rights reserved. Designed by BahramiiiRad</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>