  <header class="page-header">
            <div class="top-page-header">
                <div class="container">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="contact-list">
                            <ul>
                                <li><i class="fas fa-phone-rotary"></i><a href="tel: 02100000000">021-00000000</a></li>
                                <li>
                                    <i class="fas fa-envelope"></i><a href="mailto: site@example.com">site@example.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="top-header-menu">
                            <ul>
                                <li><a href="#">خانه</a></li>
                                <li><a href="#">پیگیری سفارش</a></li>
                                <li><a href="#">فروشگاه</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="bottom-page-header">
                    <div class="d-flex align-items-center">
                        <div class="site-logo">
                            <a href="#">
                                <img src="./assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="search-box">
                            <form action="#">
                                <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">
                                <i class="far fa-search"></i>
                            </form>
                            <div class="search-result">
                                <ul class="search-result-list">
                                    <li><a href="#">موبایل</a></li>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">مودم</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">تلویزیون</a></li>
                                </ul>
                                <ul class="search-result-most-view">
                                    <li><a href="#">موبایل</a></li>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">مودم</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#">تلویزیون</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="user-items">
                        <div class="user-item">
                            <a href="#">
                                <i class="fal fa-heart"></i>
                                <span class="bag-items-number">3</span>
                            </a>
                        </div>
                        <div class="user-item cart-list">
                            <a href="#">
                                <i class="fal fa-shopping-basket"></i>
                                <span class="bag-items-number">2</span>
                            </a>
                            <ul>
                                <li class="cart-items">
                                    <ul class="do-nice-scroll">
                                        <li class="cart-item">
                                            <span class="d-flex align-items-center mb-2">
                                                <a href="#">
                                                    <img src="./assets/images/cart/item-1.jpg" alt="">
                                                </a>
                                                <span>
                                                    <a href="#">
                                                        <span class="title-item">
                                                            گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                                                        </span>
                                                    </a>
                                                    <span class="color d-flex align-items-center">
                                                        رنگ:
                                                        <span style="background-color: #8a2be2;"></span>
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="price">4,050,000 تومان</span>
                                            <button class="remove-item">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </li>
                                        <li class="cart-item">
                                            <span class="d-flex align-items-center mb-2">
                                                <a href="#">
                                                    <img src="./assets/images/cart/item-2.jpg" alt="">
                                                </a>
                                                <span>
                                                    <a href="#">
                                                        <span class="title-item">
                                                            ساعت مچی هوشمند Haylou LS02
                                                        </span>
                                                    </a>
                                                    <span class="color d-flex align-items-center">
                                                        رنگ:
                                                        <span style="background-color: #000;"></span>
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="price">750,000 تومان</span>
                                            <button class="remove-item">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </li>
                                        <li class="cart-item">
                                            <span class="d-flex align-items-center mb-2">
                                                <a href="#">
                                                    <img src="./assets/images/cart/item-3.jpg" alt="">
                                                </a>
                                                <span>
                                                    <a href="#">
                                                        <span class="title-item">
                                                            هدفون بلوتوثی کیو سی وای مدل T7
                                                        </span>
                                                    </a>
                                                    <span class="color d-flex align-items-center">
                                                        رنگ:
                                                        <span style="background-color: #fff;"></span>
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="price">635,000 تومان</span>
                                            <button class="remove-item">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                                <li class="cart-footer">
                                    <span class="d-block text-center mb-3">
                                        مبلغ کل:
                                        <span class="total">4,050,000 تومان</span>
                                    </span>
                                    <span class="d-block text-center px-2">
                                        <a href="#" class="btn-cart">
                                            مشاهده سبد خرید
                                            <i class="mi mi-ShoppingCart"></i>
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="user-item account">
                            <!-- <a href="#" class="btn-auth">
                                <i class="fal fa-user-circle"></i>
                                ورود و عضویت
                            </a> -->
                            <a href="#">
                                جلال بهرامی راد
                                <i class="fad fa-chevron-down text-sm mr-1"></i>
                            </a>
                            <ul class="dropdown--wrapper">
                                <li class="header-profile-dropdown-account-container">
                                    <a href="#" class="d-block">
                                        <span class="header-profile-dropdown-user">
                                            <span class="header-profile-dropdown-user-img">
                                                <img src="./assets/images/avatar/avatar.png">
                                            </span>
                                            <span class="header-profile-dropdown-user-info">
                                                <p class="header-profile-dropdown-user-name">
                                                    جلال بهرامی راد
                                                </p>
                                                <span class="header-profile-dropdown-user-profile-link">
                                                    مشاهده حساب
                                                    کاربری
                                                </span>
                                            </span>
                                        </span>
                                        <span class="header-profile-dropdown-account">
                                            <span class="header-profile-dropdown-account-item">
                                                <span class="header-profile-dropdown-account-item-title">اعتبار</span>
                                                <span class="header-profile-dropdown-account-item-amount">
                                                    <span class="header-profile-dropdown-account-item-amount-number">7,500,000</span>
                                                    تومان
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown--btn-primary">وارد شوید</a>
                                </li>
                                <li>
                                    <span>کاربر جدید هستید؟</span>
                                    <a href="#" class="border-bottom-dt">ثبت نام</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="#">
                                        پروفایل
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        پیگیری سفارش
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="nav-wrapper">
                    <ul>
                        <li class="category-list">
                            <a href="#"><i class="fal fa-bars"></i>دسته بندی کالاها</a>
                            <ul>
                                <li>
                                    <a href="#">کالای دیجیتال</a>
                                    <ul class="row">
                                        <li class="col-12"><a href="#">همه دسته‌بندی‌های کالای دیجیتال</a></li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#">اسپیکر بلوتوث و با سیم</a>
                                            <a href="#">هارد، فلش و SSD</a>
                                            <a href="#">دوربین</a>
                                            <ul>
                                                <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                                <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                                <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                            </ul>
                                            <a href="#">لوازم جانبی دوربین</a>
                                            <ul>
                                                <li><a href="#">لنز</a></li>
                                                <li><a href="#">کیف</a></li>
                                                <li><a href="#">کارت حافظه</a></li>
                                                <li><a href="#">کاغذ چاپ عکس</a></li>
                                            </ul>
                                            <a href="#">دوربین دوچشمی و شکاری</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#" class="list-item--image my-3">
                                                <img src="./assets/images/mega-menu/01.jpg" class="img-fluid rounded"
                                                     alt="">
                                            </a>
                                            <a href="#">برندها</a>
                                            <ul class="d-flex my-3">
                                                <li>
                                                    <a href="#" class="list-item--image ml-1 border rounded p-1">
                                                        <img src="./assets/images/mega-menu/brand-1.jpg"
                                                             class="img-fluid rounded" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="list-item--image ml-1 border rounded p-1">
                                                        <img src="./assets/images/mega-menu/brand-2.jpg"
                                                             class="img-fluid rounded" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="list-item--image ml-1 border rounded p-1">
                                                        <img src="./assets/images/mega-menu/brand-3.jpg"
                                                             class="img-fluid rounded" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">خودرو، ابزار و تجهیزات صنعتی</a>
                                    <ul class="row">
                                        <li class="col-12">
                                            <a href="#">همه دسته بندی های خودرو، ابزار و تجهیزات صنعتی</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#">اسپیکر بلوتوث و با سیم</a>
                                            <a href="#">هارد، فلش و SSD</a>
                                            <a href="#">دوربین</a>
                                            <ul>
                                                <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                                <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                                <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                            </ul>
                                            <a href="#">لوازم جانبی دوربین</a>
                                            <ul>
                                                <li><a href="#">لنز</a></li>
                                                <li><a href="#">کیف</a></li>
                                                <li><a href="#">کارت حافظه</a></li>
                                                <li><a href="#">کاغذ چاپ عکس</a></li>
                                            </ul>
                                            <a href="#">دوربین دوچشمی و شکاری</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">مد و پوشاک</a>
                                    <ul class="row">
                                        <li class="col-12"><a href="#">همه دسته‌بندی‌های کالای دیجیتال</a></li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">زیبایی و سلامت</a>
                                    <ul class="row">
                                        <li class="col-12">
                                            <a href="#">همه دسته بندی های زیبایی و سلامت</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#">اسپیکر بلوتوث و با سیم</a>
                                            <a href="#">هارد، فلش و SSD</a>
                                            <a href="#">دوربین</a>
                                            <ul>
                                                <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                                <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                                <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                            </ul>
                                            <a href="#">لوازم جانبی دوربین</a>
                                            <ul>
                                                <li><a href="#">لنز</a></li>
                                                <li><a href="#">کیف</a></li>
                                                <li><a href="#">کارت حافظه</a></li>
                                                <li><a href="#">کاغذ چاپ عکس</a></li>
                                            </ul>
                                            <a href="#">دوربین دوچشمی و شکاری</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#">اسپیکر بلوتوث و با سیم</a>
                                            <a href="#">هارد، فلش و SSD</a>
                                            <a href="#">دوربین</a>
                                            <ul>
                                                <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                                <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                                <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                            </ul>
                                            <a href="#">لوازم جانبی دوربین</a>
                                            <ul>
                                                <li><a href="#">لنز</a></li>
                                                <li><a href="#">کیف</a></li>
                                                <li><a href="#">کارت حافظه</a></li>
                                                <li><a href="#">کاغذ چاپ عکس</a></li>
                                            </ul>
                                            <a href="#">دوربین دوچشمی و شکاری</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">خانه و آشپزخانه</a>
                                    <ul class="row">
                                        <li class="col-12">
                                            <a href="#">همه دسته بندی های خانه و آشپزخانه</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#">اسپیکر بلوتوث و با سیم</a>
                                            <a href="#">هارد، فلش و SSD</a>
                                            <a href="#">دوربین</a>
                                            <ul>
                                                <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                                <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                                <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                            </ul>
                                            <a href="#">لوازم جانبی دوربین</a>
                                            <ul>
                                                <li><a href="#">لنز</a></li>
                                                <li><a href="#">کیف</a></li>
                                                <li><a href="#">کارت حافظه</a></li>
                                                <li><a href="#">کاغذ چاپ عکس</a></li>
                                            </ul>
                                            <a href="#">دوربین دوچشمی و شکاری</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">کتاب، لوازم تحریر و هنر</a>
                                    <ul class="row">
                                        <li class="col-12">
                                            <a href="#">همه دسته بندی های کتاب، لوازم تحریر و هنر</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#">اسپیکر بلوتوث و با سیم</a>
                                            <a href="#">هارد، فلش و SSD</a>
                                            <a href="#">دوربین</a>
                                            <ul>
                                                <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                                <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                                <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                            </ul>
                                            <a href="#">لوازم جانبی دوربین</a>
                                            <ul>
                                                <li><a href="#">لنز</a></li>
                                                <li><a href="#">کیف</a></li>
                                                <li><a href="#">کارت حافظه</a></li>
                                                <li><a href="#">کاغذ چاپ عکس</a></li>
                                            </ul>
                                            <a href="#">دوربین دوچشمی و شکاری</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">اسباب بازی، کودک و نوزاد</a>
                                    <ul class="row">
                                        <li class="col-12">
                                            <a href="#">همه دسته بندی های اسباب بازی، کودک و نوزاد</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#">اسپیکر بلوتوث و با سیم</a>
                                            <a href="#">هارد، فلش و SSD</a>
                                            <a href="#">دوربین</a>
                                            <ul>
                                                <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                                <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                                <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                            </ul>
                                            <a href="#">لوازم جانبی دوربین</a>
                                            <ul>
                                                <li><a href="#">لنز</a></li>
                                                <li><a href="#">کیف</a></li>
                                                <li><a href="#">کارت حافظه</a></li>
                                                <li><a href="#">کاغذ چاپ عکس</a></li>
                                            </ul>
                                            <a href="#">دوربین دوچشمی و شکاری</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">ورزش و سفر</a>
                                    <ul class="row">
                                        <li class="col-12">
                                            <a href="#">همه دسته بندی های ورزش و سفر</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#">اسپیکر بلوتوث و با سیم</a>
                                            <a href="#">هارد، فلش و SSD</a>
                                            <a href="#">دوربین</a>
                                            <ul>
                                                <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                                <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                                <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                            </ul>
                                            <a href="#">لوازم جانبی دوربین</a>
                                            <ul>
                                                <li><a href="#">لنز</a></li>
                                                <li><a href="#">کیف</a></li>
                                                <li><a href="#">کارت حافظه</a></li>
                                                <li><a href="#">کاغذ چاپ عکس</a></li>
                                            </ul>
                                            <a href="#">دوربین دوچشمی و شکاری</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">خوردنی و آشامیدنی</a>
                                    <ul class="row">
                                        <li class="col-12">
                                            <a href="#">همه دسته بندی های خوردنی و آشامیدنی</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">لوازم جانبی گوشی</a>
                                            <ul>
                                                <li><a href="#">کیف و کاور گوشی</a></li>
                                                <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                                <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                            </ul>
                                            <a href="#">گوشی موبایل</a>
                                            <ul>
                                                <li><a href="#">سامسونگ</a></li>
                                                <li><a href="#">هوآوی</a></li>
                                                <li><a href="#">اپل</a></li>
                                                <li><a href="#">شیائومی</a></li>
                                                <li><a href="#">آنر</a></li>
                                                <li><a href="#">نوکیا</a></li>
                                            </ul>
                                            <a href="#">واقعیت مجازی</a>
                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                        </li>
                                        <li class="col-3">
                                            <a href="#">هدفون، هدست، هندزفری</a>
                                            <a href="#">اسپیکر بلوتوث و با سیم</a>
                                            <a href="#">هارد، فلش و SSD</a>
                                            <a href="#">دوربین</a>
                                            <ul>
                                                <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                                <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                                <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                            </ul>
                                            <a href="#">لوازم جانبی دوربین</a>
                                            <ul>
                                                <li><a href="#">لنز</a></li>
                                                <li><a href="#">کیف</a></li>
                                                <li><a href="#">کارت حافظه</a></li>
                                                <li><a href="#">کاغذ چاپ عکس</a></li>
                                            </ul>
                                            <a href="#">دوربین دوچشمی و شکاری</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fal fa-apple-crate text-warning"></i>سوپرمارکت</a>
                        </li>
                        <li class="mega-menu mega-menu-3-columns">
                            <a href="#"><i class="fal fa-badge-percent text-danger"></i>تخفیف ها و پیشنهادها</a>
                            <ul class="row">
                                <li class="col-7">
                                    <a href="#">مشاهده همه تخفیف ها و پیشنهادها <i class="fad fa-chevron-left"></i></a>
                                    <ul class="row">
                                        <li class="col-6">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        کالاهای شگفت انگیز <i class="fad fa-chevron-left"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        شگفت انگیز سوپرمارکتی <i class="fad fa-chevron-left"></i>
                                                    </a>
                                                </li>
                                                <li><a href="#">فروش ویژه <i class="fad fa-chevron-left"></i></a></li>
                                                <li><a href="#">کالای دیجیتال</a></li>
                                                <li><a href="#">مد و پوشاک</a></li>
                                                <li><a href="#">زیبایی و سلامت</a></li>
                                                <li><a href="#">خانه و آشپزخانه</a></li>
                                                <li><a href="#">ورزش و سفر</a></li>
                                                <li><a href="#">خوردنی و آشامیدنی</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-6">
                                            <ul>
                                                <li>
                                                    <a href="#" class="text-sm text-muted">
                                                        <i class="fad fa-chart-line"></i>
                                                        پرفروش ترین کالاها
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-sm text-muted">
                                                        <i class="fad fa-gift"></i>
                                                        با هر
                                                        خرید هدیه بگیرید!
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-sm text-muted">
                                                        <i class="fad fa-badge-percent"></i>
                                                        تخفیف پایان فصل
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-sm text-muted">
                                                        <i class="fad fa-gift-card"></i> کارت
                                                        هدیه خرید از همتا
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-sm text-muted">
                                                        <i class="fad fa-box-alt"></i> تازه
                                                        های فروشنده های جدید
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col-5">
                                    <a href="#">
                                        <img src="/assets/images/mega-menu/amazing-offer.jpg" class="rounded"
                                             alt="amazing-offer">
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fal fa-shield-check text-success"></i>همتای من</a>
                        </li>
                        <li>
                            <a href="#"><i class="fal fa-plus-square text-primary"></i>همتا پلاس</a>
                        </li>
                        <li>
                            <a href="#"><i class="fal fa-coin text-secondary"></i>همتا کلاب</a>
                        </li>
                        <li>
                            <a href="#"><i></i>سوال دارید؟</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>