@using Eshop.RazorPage.Services.Categories
@inject ICategoryService _CategoryService
@{
    var categories = await _CategoryService.GetCategories();
}
<header class="page-header">
    <div class="top-page-header">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="contact-list">
                    <ul>
                        <li><i class="fas fa-phone-rotary"></i><a href="tel: 02100000000">021-00000000</a></li>
                        <li>
                            <i class="fas fa-envelope"></i><a href="mailto: site@example.com">site@example.com</a>
                        </li>
                    </ul>
                </div>
                <div class="top-header-menu">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li><a href="/search">فروشگاه</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bottom-page-header">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="/">
                        <img src="/assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="search-box">
                    <form action="/search">
                        <input type="text" name="q" placeholder="نام محصول یا برند را جستجو کنید...">
                        <i class="far fa-search"></i>
                    </form>
                </div>
            </div>
            <div class="user-items">
                <div class="user-item">
                    <a href="#">
                        <i class="fal fa-heart"></i>
                        <span class="bag-items-number">3</span>
                    </a>
                </div>
                <div class="user-item cart-list">
                    <a href="#">
                        <i class="fal fa-shopping-basket"></i>
                        <span class="bag-items-number">2</span>
                    </a>
                    <ul>
                        <li class="cart-items">
                            <ul class="do-nice-scroll">
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="./assets/images/cart/item-1.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #8a2be2;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">4,050,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="./assets/images/cart/item-2.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    ساعت مچی هوشمند Haylou LS02
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #000;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">750,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                                <li class="cart-item">
                                    <span class="d-flex align-items-center mb-2">
                                        <a href="#">
                                            <img src="./assets/images/cart/item-3.jpg" alt="">
                                        </a>
                                        <span>
                                            <a href="#">
                                                <span class="title-item">
                                                    هدفون بلوتوثی کیو سی وای مدل T7
                                                </span>
                                            </a>
                                            <span class="color d-flex align-items-center">
                                                رنگ:
                                                <span style="background-color: #fff;"></span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="price">635,000 تومان</span>
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </li>
                            </ul>
                        </li>
                        <li class="cart-footer">
                            <span class="d-block text-center mb-3">
                                مبلغ کل:
                                <span class="total">4,050,000 تومان</span>
                            </span>
                            <span class="d-block text-center px-2">
                                <a href="/shopCart" class="btn-cart">
                                    مشاهده سبد خرید
                                    <i class="mi mi-ShoppingCart"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="user-item account">
                    <!-- <a href="#" class="btn-auth">
                        <i class="fal fa-user-circle"></i>
                        ورود و عضویت
                    </a> -->
                    <a href="#">
                        جلال بهرامی راد
                        <i class="fad fa-chevron-down text-sm mr-1"></i>
                    </a>
                    <ul class="dropdown--wrapper">
                        <li class="header-profile-dropdown-account-container">
                            <a href="#" class="d-block">
                                <span class="header-profile-dropdown-user">
                                    <span class="header-profile-dropdown-user-img">
                                        <img src="./assets/images/avatar/avatar.png">
                                    </span>
                                    <span class="header-profile-dropdown-user-info">
                                        <p class="header-profile-dropdown-user-name">
                                            جلال بهرامی راد
                                        </p>
                                        <span class="header-profile-dropdown-user-profile-link">
                                            مشاهده حساب
                                            کاربری
                                        </span>
                                    </span>
                                </span>
                                <span class="header-profile-dropdown-account">
                                    <span class="header-profile-dropdown-account-item">
                                        <span class="header-profile-dropdown-account-item-title">اعتبار</span>
                                        <span class="header-profile-dropdown-account-item-amount">
                                            <span class="header-profile-dropdown-account-item-amount-number">7,500,000</span>
                                            تومان
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown--btn-primary">وارد شوید</a>
                        </li>
                        <li>
                            <span>کاربر جدید هستید؟</span>
                            <a href="#" class="border-bottom-dt">ثبت نام</a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">
                                پروفایل
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                پیگیری سفارش
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="nav-wrapper">
            <ul>
                <li class="category-list">
                    <a href="#"><i class="fal fa-bars"></i>دسته بندی کالاها</a>
                    <ul>
                        @foreach (var item in categories)
                        {
                            <li>
                                <a href="#">@item.Title</a>
                                <ul class="row">
                                    <li class="col-12"><a href="/search?category=@item.Slug">همه دسته‌بندی‌های @item.Title</a></li>
                                    @foreach (var child in item.Childs)
                                    {
                                        <li class="col-3">
                                            <a href="/search?category=@child.Slug">@child.Title</a>
                                            @if (child.Childs.Any())
                                            {
                                                @foreach (var subChild in child.Childs)
                                                {
                                                    <ul>
                                                        <li>
                                                            <a href="/search?category=@subChild.Slug">@subChild.Title</a>
                                                        </li>

                                                    </ul>
                                                }
                                            }
                                        </li>
                                    }
                                </ul>
                            </li>
                        }


                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>