   <div class="header-responsive">
            <div class="header-top">
                <div class="side-navigation-wrapper">
                    <button class="btn-toggle-side-navigation"><i class="far fa-bars"></i></button>
                    <div class="side-navigation">
                        <div class="site-logo">
                            <a href="#">
                                <img src="./assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="divider"></div>
                        <ul class="not-list-children">
                            <li><a href="#"><i class="fal fa-apple-crate"></i> سوپرمارکت</a></li>
                            <li><a href="#"><i class="fal fa-badge-percent"></i> پیشنهادها و تخفیف ها</a></li>
                            <li><a href="#"><i class="fal fa-plus-square"></i> فروشنده شوید</a></li>
                            <li><a href="#"><i class="fal fa-question"></i> سوالی دارید؟</a></li>
                        </ul>
                        <div class="divider"></div>
                        <ul class="category-list">
                            <li class="has-children">
                                <a href="#">کالای دیجیتال</a>
                                <ul>
                                    <li class="has-children">
                                        <a href="#">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#">کیف و کاور گوشی</a></li>
                                            <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                            <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#">سامسونگ</a></li>
                                            <li><a href="#">هوآوی</a></li>
                                            <li><a href="#">اپل</a></li>
                                            <li><a href="#">شیائومی</a></li>
                                            <li><a href="#">آنر</a></li>
                                            <li><a href="#">نوکیا</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">هدفون، هدست، هندزفری</a>
                                    </li>
                                    <li>
                                        <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">دوربین</a>
                                        <ul>
                                            <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                            <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">لوازم جانبی دوربین</a>
                                        <ul>
                                            <li><a href="#">لنز</a></li>
                                            <li><a href="#">کیف</a></li>
                                            <li><a href="#">کارت حافظه</a></li>
                                            <li><a href="#">کاغذ چاپ عکس</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">مد و پوشاک</a>
                                <ul>
                                    <li><a href="#">لباس زنانه</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">زیبایی و سلامت</a>
                                <ul>
                                    <li class="has-children">
                                        <a href="#">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#">کیف و کاور گوشی</a></li>
                                            <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                            <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#">سامسونگ</a></li>
                                            <li><a href="#">هوآوی</a></li>
                                            <li><a href="#">اپل</a></li>
                                            <li><a href="#">شیائومی</a></li>
                                            <li><a href="#">آنر</a></li>
                                            <li><a href="#">نوکیا</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">هدفون، هدست، هندزفری</a>
                                    </li>
                                    <li>
                                        <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">دوربین</a>
                                        <ul>
                                            <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                            <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">لوازم جانبی دوربین</a>
                                        <ul>
                                            <li><a href="#">لنز</a></li>
                                            <li><a href="#">کیف</a></li>
                                            <li><a href="#">کارت حافظه</a></li>
                                            <li><a href="#">کاغذ چاپ عکس</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">خانه و آشپزخانه</a>
                                <ul>
                                    <li class="has-children">
                                        <a href="#">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#">کیف و کاور گوشی</a></li>
                                            <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                            <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#">سامسونگ</a></li>
                                            <li><a href="#">هوآوی</a></li>
                                            <li><a href="#">اپل</a></li>
                                            <li><a href="#">شیائومی</a></li>
                                            <li><a href="#">آنر</a></li>
                                            <li><a href="#">نوکیا</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">هدفون، هدست، هندزفری</a>
                                    </li>
                                    <li>
                                        <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">دوربین</a>
                                        <ul>
                                            <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                            <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">لوازم جانبی دوربین</a>
                                        <ul>
                                            <li><a href="#">لنز</a></li>
                                            <li><a href="#">کیف</a></li>
                                            <li><a href="#">کارت حافظه</a></li>
                                            <li><a href="#">کاغذ چاپ عکس</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">کتاب،لوازم تحریر و هنر</a>
                                <ul>
                                    <li class="has-children">
                                        <a href="#">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#">کیف و کاور گوشی</a></li>
                                            <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                            <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#">سامسونگ</a></li>
                                            <li><a href="#">هوآوی</a></li>
                                            <li><a href="#">اپل</a></li>
                                            <li><a href="#">شیائومی</a></li>
                                            <li><a href="#">آنر</a></li>
                                            <li><a href="#">نوکیا</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">هدفون، هدست، هندزفری</a>
                                    </li>
                                    <li>
                                        <a href="#">اسپیکر بلوتوث و با سیم</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">دوربین</a>
                                        <ul>
                                            <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                                            <li><a href="#">دوربین‌ چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">لوازم جانبی دوربین</a>
                                        <ul>
                                            <li><a href="#">لنز</a></li>
                                            <li><a href="#">کیف</a></li>
                                            <li><a href="#">کارت حافظه</a></li>
                                            <li><a href="#">کاغذ چاپ عکس</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">اسباب بازی،کودک و نوزاد</a>
                            </li>
                            <li>
                                <a href="#">ورزش و سفر</a>
                            </li>
                            <li>
                                <a href="#">خوردنی و آشامیدنی</a>
                            </li>
                        </ul>
                    </div>
                    <div class="overlay-side-navigation"></div>
                </div>
                <div class="site-logo">
                    <a href="#">
                        <img src="./assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="header-tools">
                    <a href="#">
                        <i class="far fa-shopping-basket"></i>
                        <span class="bag-items-number">2</span>
                    </a>
                </div>
            </div>
            <div class="header-bottom">
                <div class="search-box">
                    <form action="#">
                        <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">
                        <i class="far fa-search"></i>
                    </form>
                    <div class="search-result">
                        <ul class="search-result-list">
                            <li><a href="#">موبایل</a></li>
                            <li><a href="#">سامسونگ</a></li>
                            <li><a href="#">مودم</a></li>
                            <li><a href="#">اپل</a></li>
                            <li><a href="#">تلویزیون</a></li>
                        </ul>
                        <ul class="search-result-most-view">
                            <li><a href="#">موبایل</a></li>
                            <li><a href="#">سامسونگ</a></li>
                            <li><a href="#">مودم</a></li>
                            <li><a href="#">اپل</a></li>
                            <li><a href="#">تلویزیون</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-tools">
                    <a href="#"><i class="far fa-user-circle"></i></a>
                </div>
            </div>
        </div>